<div class="hero-unit">

<h1>Welcome to Lyks.it</h1>
<p>
  All the stuff you like from sites like Twitter, Flickr and Instagram in one place.
  An <%= link_to "aequ", "http://aequ.com" %>
  application.
</p>
<p>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>