<h1>Welcome to Lyks.it</h1>
<p>
  You've found the home page for Lyks.it. All your favorite stuff in one place.
  <%= link_to "aequ", "http://aequ.com" %>
  application.
</p>
<p>
  <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>